/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

#define DEF 0
#define LWR 1
#define RSE 2
#define MOU 3
#define NAV 4
#define ADJ 5
#define GAM 6

&sl { release-after-ms = <5000>; };
&sk { release-after-ms = <5000>; };

/* 
                    bindings = <
&trans    &trans     &trans    &trans   &trans   &trans               &trans   &trans     &trans    &trans   &trans    &trans
&trans    &trans     &trans    &trans   &trans   &trans               &trans   &trans     &trans    &trans   &trans    &trans
&trans    &trans     &trans    &trans   &trans   &trans               &trans   &trans     &trans    &trans   &trans    &trans
                               &trans   &trans   &trans               &trans   &trans     &trans
                    >;
*/
/ {
    behaviors {
        ts: ts {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&sk>, <&kp>;
        };

        ctrl_spc: ctrl_spc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_tap &kp SPACE>,
                <&macro_release &kp LCTRL>
            ;
        };

        ctrl_sps_sl: ctrl_sps_sl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&sl>, <&ctrl_spc>;
        };

        mmv {
            acceleration-exponent = <1>;
            time-to-max-speed-ms = <900>;
            delay-ms = <0>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&kp ESC    &kp Q       &kp W       &kp E        &kp R                 &kp T                      &kp Y           &kp U           &kp I         &kp O       &kp P          &kp LBKT
&kp TAB    &ts LALT A  &ts LGUI S  &ts LCTRL D  &ts LSHIFT F          &kp G                      &kp H           &ts LSHIFT J    &ts RCTRL K   &ts LGUI L  &ts RALT SEMI  &kp DQT 
&kp GRAVE  &kp Z       &kp X       &kp C        &kp V                 &kp B                      &kp N           &kp M           &kp COMMA     &kp DOT     &kp FSLH       &kp RBKT 
                                   &caps_word   &ctrl_sps_sl LWR 0    &lt RSE SPACE              &sl RSE         &sl LWR         &trans  
                        >;
                };


                lower_layer {
                        bindings = <
&trans     &trans      &trans    &trans   &trans     &trans               &trans     &trans     &trans    &trans   &trans      &trans   
&trans     &kp N4      &kp N3    &kp N2   &kp N1     &kp N0               &kp N9     &kp N5     &kp N6    &kp N7   &kp N8      &trans   
&kp F11    &kp F4      &kp F3    &kp F2   &kp F1     &kp F10              &kp F9     &kp F5     &kp F6    &kp F7   &kp F8      &kp F12 
                                 &trans   &mo MOU    &mo ADJ              &mo ADJ    &mo MOU    &trans
                        >;
                };


                raise_layer {
                        bindings = <
&kp LPAR   &trans      &trans    &trans   &kp UNDER  &kp MINUS            &kp PLUS   &kp EQUAL  &trans     &trans    &trans      &kp LEFT_BRACKET
&trans     &kp DOLLAR  &kp HASH  &kp AT   &kp EXCL   &kp COMMA            &kp PERIOD &kp PRCNT  &kp CARET  &kp AMPS  &kp STAR    &kp DOUBLE_QUOTES
&kp RPAR   &trans      &trans    &trans   &kp QMARK  &trans               &trans     &trans     &trans     &trans    &kp BSLH    &kp RIGHT_BRACKET
                                 &trans   &mo ADJ    &mo NAV              &mo NAV    &mo ADJ    &trans
                        >;
                };


                mouse_layer {
                        bindings = <
&trans     &trans      &trans      &trans       &trans        &trans                &trans          &trans          &trans        &trans           &trans       &trans 
&trans     &trans      &mkp RCLK   &mkp MCLK    &mkp LCLK     &trans                &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans       &trans
&trans     &trans      &trans      &trans       &trans        &trans                &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans       &trans
                                   &trans       &trans        &trans                &trans          &trans          &trans
                    >;

                };


                navigation_layer {
                        bindings = <
&trans      &trans     &trans  &trans   &trans     &trans                   &trans           &trans           &trans         &trans          &trans    &trans  
&trans      &kp HOME   &trans  &trans   &trans     &kp END                  &kp LEFT         &kp DOWN         &kp UP         &kp RIGHT       &trans    &trans 
&trans      &kp PG_UP  &trans  &trans   &trans     &kp PG_DN                &trans           &trans           &trans         &trans          &trans    &trans   
                               &trans   &trans     &trans                   &trans           &trans           &trans
                    >;

                };
  

                adjust_layer {
                        bindings = <
&bt BT_CLR      &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0         &trans      &trans          &trans        &trans      &kp C_PLAY  &studio_unlock
&trans          &trans        &trans        &trans        &trans        &trans               &kp C_PREV  &kp C_VOL_DN    &kp C_VOL_UP  &kp C_NEXT  &trans      &trans    
&trans          &trans        &trans        &trans        &trans        &trans               &trans      &kp C_MUTE      &trans        &trans      &trans      &to GAM
                                            &trans        &trans        &trans               &trans      &trans          &trans
                        >;
                };

                gaming_layer {
                    bindings = <
&kp ESC   &kp Q      &kp W     &kp E     &kp R      &kp T                &trans   &trans     &trans    &trans   &trans    &trans
&kp TAB   &kp A      &kp S     &kp D     &kp F      &kp G                &trans   &trans     &trans    &trans   &trans    &trans
&kp GRAVE &kp Z      &kp X     &kp C     &kp V      &kp B                &trans   &trans     &trans    &trans   &trans    &trans
                               &kp LALT  &kp LCTRL  &ts LSHIFT SPACE     &trans   &trans     &trans
                    >;
                };

         };
};

/* / { */
/*     combos { */
/*         compatible = "zmk,combos"; */
/**/
/*         esc: esc { */
/*             timeout-ms = <250>; */
/*             key-positions = <19 22>; */
/*             bindings = <&kp ESC>; */
/*         }; */
/**/
/*         bspc: bspc { */
/*             timeout-ms = <250>; */
/*             key-positions = <14 32>; */
/*             bindings = <&kp BSPC>; */
/*         }; */
/**/
/*         del: del { */
/*             timeout-ms = <300>; */
/*             key-positions = <14 33>; */
/*             bindings = <&kp DEL>; */
/*         }; */
/**/
/*         enter: enter { */
/*             timeout-ms = <250>; */
/*             key-positions = <15 31>; */
/*             bindings = <&kp ENTER>; */
/*         }; */
/**/
/*     }; */
/* }; */
